RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

<FilesMatch "^(conexion\.php|conexion-infi\.php)$">
    Order allow,deny
    Deny from all
</FilesMatch>
