/* -----------
--- RESET & BASE ---
------------*/
::selection {
    color: white;
    background-color: #0003;
}

* {
    font-family: monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --uma-color: #fff;
    --fondo: #fff;
    --texto: #000;
    --color-bg: oklch(0.6 0.25 188);
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: var(--fondo);
    color: var(--texto);
    opacity: 0.8;
    transition: background-color .5s ease, color .5s ease, opacity 1.5s ease;
    -webkit-tap-highlight-color: transparent;
}

body.modo-oscuro {
    --fondo: #000;
    --texto: #fff;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.30);
    z-index: 10;
    pointer-events: none;
    opacity: 0;
    transition: opacity .2s; 
}

body.modo-oscuro::after {
    opacity: 1;
}

main::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.14);
    z-index: 9;
    pointer-events: none;
    opacity: 0;
    transition: opacity .5s; 
}

a {
    text-decoration: none;
}

a:focus, 
a:focus-visible,
a:-webkit-any-link:focus-visible {
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
}

/* -----------
--- UTILITIES ---
------------*/
.u-capitalize {
    text-transform: capitalize !important;
}

.u-opacity-1 {
    opacity: 1 !important;
}

.anim-appear {
    animation: aparicion 1s ease forwards !important;
}

.anim-disappear {
    animation: desaparicion .5s ease forwards !important;
}

/* -----------
--- NAVIGATION ---
------------*/
.sidebar-nav {
    position: fixed;
    background-color: var(--fondo);
    padding: 10px;
    display: flex;
    gap: 10px;
    transition: width .5s ease, background-color .3s ease;
    overflow: hidden;
    z-index: 1000;
}

.sidebar-nav__item {
    padding: 3px 0 3px 5px;
    border-radius: 20px;
    transition: background-color .3s ease;
}

.sidebar-nav__text--hidden {
    font-size: 2rem;
    font-weight: bolder;
    text-transform: capitalize;
}

.theme-toggle {
    position: relative;
    width: 30px;
    height: 60px;
}

.theme-toggle__button {
    position: absolute;
    width: 30px;
    height: 30px;
    inset: 0;
    margin: auto;
    transform: rotate(270deg);
}

.theme-toggle__icon--light {
    visibility: hidden;
}

/* -----------
--- HOME ---
------------*/
.hero {
    position: relative;
    background: var(--color-bg);
    box-shadow: 0 0px 50px 6px var(--uma-color) inset;
    transition: box-shadow 2s ease;
    min-height: 100vh;
    margin: auto;
    display: grid;
    place-content: center;
}

.hero__container {
    position: relative;
    margin: 20px 0;
    display: grid;
    place-items: center;
}

.search-box {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 20px;
}

.search-box__input {
    padding: 20px;
    border-radius: 8px;
    color: #a5a;
    font-weight: bolder;
    border: none;
    border-bottom: 1px solid black;
    font-size: 1.3rem;
}

.search-box__button {
    border-radius: 8px;
    padding: 20px;
    border: none;
    border-bottom: 1px solid black;
}

.draw-card {
    margin-top: 30px;
    box-shadow: 5px 2px 30px 0px #0006;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    overflow-y: hidden;
    transition: opacity .7s ease, box-shadow .5s ease;
    min-height: 380px;
    max-height: fit-content;
    width: fit-content;
    backdrop-filter: blur(3px);
    opacity: 0;
}

.draw-card:hover {
    box-shadow: 5px 2px 30px 0px #000a;
}

.draw-card p {
    font-size: 1.2em;
    line-height: 2;
    font-weight: 500;
    color: #000;
}

.draw-card h2 {
    font-size: 2em;
    color: #000;
}

.draw-card h3 {
    font-size: 2em;
    padding-bottom: 10px;
}

.draw-card__tazuna-container {
    display: grid;
    place-items: center;
}

.draw-card__uma-img {
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    filter: blur(3px);
    object-fit: contain;
    object-position: bottom;
}

.draw-card__horse-img {
    padding: 8px 15px 6px 15px;
    border-radius: 30px;
}

.draw-card__uma-img--visible {
    opacity: 1;
    filter: contrast(110%);
    transform: translateY(5px);
}

.irl-button {
    position: absolute;
    width: 55px;
    height: 55px;
    bottom: 0;
    right: 0;
    border-radius: 20px;
    opacity: 0;
    padding: 10px;
    border: #fff solid 1px;
    transition: background-color .3s ease, transform .3s ease, opacity .7s ease;
}

.irl-button:hover {
    background-color: #9998;
}

.irl-button:active {
    background-color: #999c;
    transform: scale(1.15);
}

.irl-button__uma-icon {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.irl-button__horse-icon {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 40px;
    height: 40px;
}

.available-section {
    background-color: black;
    color: white;
    padding: 20px;
}

main.home .available-section h2 {
    font-size: 2rem;
    padding: 20px;
}

.available-section__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    place-items: center;
    gap: 15px;
}

.available-section__grid a {
    font-size: 1.3rem;
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
    color: #ffffff;
    font-weight: bolder;
    transition: background-color .6s ease, transform .6s ease;
}

.available-section__grid a:hover {
    background-color: #ffffff55;
    transform: scale(1.05);
}

.available-section__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.available-section__container img {
    width: 20%;
}

.mambo-wrapper {
    position: relative;
}

.mambo-wrapper__video {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
}

.mambo-wrapper__video--left {
    left: 0; 
}

/* -----------
--- FOOTER ---
------------*/
footer {
    padding: 30px;
    background-color: #f0a;
}

footer p {
    font-size: 1.2em;
    font-weight: bolder;
}

/* -----------
--- FORMS & MODALS ---
------------*/
.card {
    max-width: 450px;
    padding: 10px;
    border-radius: 20px;
    color: black;
}

.form {
    display: grid;
    place-items: center;
    gap: 2px;
    padding: 10px;
}

.form__title {
    font-size: 2.5rem;
    text-align: center;
}

.form label {
    font-size: 1.2rem;
    font-weight: bolder;
}

.form input {
    padding: 5px;
    border-radius: 10px 10px 10px 0px;
    margin: 5px 0 5px 0;
}

.form button {
    margin-top: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: #eee;
    transition: background-color .5s ease;
}

.form button:hover {
    transform: scale(1.03);
    background-color: #999;
}

.form input, 
.form button {
}

.form__fieldset {
    padding: 5px;
}

.form__input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
}

.form__textarea {
    padding: 5px;
    border-radius: 10px 10px 10px 0;
    field-sizing: content; 
    min-width: 250px;
    max-width: 250px;
    min-height: 40px;      
    max-height: 150px;     
    overflow-y: hidden;    
    resize: none;
    border: none;
    outline: none;
    border-top: solid 2px #0002;
}

.form__select {
    padding: 5px;
    margin: 5px;
    border-radius: 20px;
    text-align: center;
}

.form__warning {
    padding: 5px;
    font-size: 1.3rem;
    transition: opacity .5s ease; 
    opacity: 0;
}

dialog {
    border: none;
    border: 2px solid #000;
    padding: 40px 80px;
    border-radius: 20px;
    box-shadow: 5px 5px 40px 5px #000a;
    margin: auto;
    background: linear-gradient(#fff9, #fff9), url(../media/img/modal_bg_2.webp) center / contain no-repeat;
    animation: modalAparecer 1.5s ease forwards;
}

dialog::backdrop {
    background-color: #0005;
    backdrop-filter: blur(5px);
}

.modal__close-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    padding: 10px;
}

.modal__switch-link {
    color: black;
    font-size: 1.3rem;
    font-weight: bolder;
    display: flex;
    align-items: center;
    gap: 10px;
}

.modal__switch-icon {
    width: 20px;
    height: 20px;
    stroke: #000;
    stroke-width: 5px;
}

.modal--fade {
    animation: modalFade 1.5s ease-in-out forwards;
}

.profile__title-name {
    font-size: 2.5rem;
    text-align: center;
}

/* -----------
--- UMASTAGRAM ---
------------*/
.umastagram {
    font-size: 2.5rem;
    text-align: center;
}

.umastagram--light-pink {
    color: #faa;
}

.umastagram--orange-pink {
    color: #f88;
}

.umastagram__slogan {
    font-size: 2rem; 
    color: #fff;
}

.umastagram__face {
    color: #faa6;
}

.umastagram__p {
    font-size: 1.2rem; 
    text-align: center;
}

.umastagram__p--blue {
    color: #33f;
    cursor: pointer;
}

.post-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card .post {
    border: solid 2px #fff;
    border-radius: 5px 20px 50px 5px;
    padding: 5px 10px;
    background-color: oklch(0.7 0.15 188);
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    box-shadow: 10px 10px 10px #0006;
    transition: box-shadow .5s ease;
}

.card .post:hover {
    box-shadow: 10px 10px 10px #0009;
}

.card .post__title {
    border-bottom: 1px solid #000a; 
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.card .post__title-img {
    width: 35px;
    height: 35px;
    padding: 1px;
    border: 1px solid #fff;
    border-radius: 30px;
    flex: 0 1 auto;
}

.card .post__title-name {
    font-size: 1.5rem;
    flex: 1 0 auto;
    text-align: left;
    padding-left: 10px;
}

.card .post__title-date {
    font-size: 1rem;
}

.card .post__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98%;
}

.card .post__content-title {
    font-size: 1.3rem;
    font-weight: bolder;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word; 
    width: 100%;            
    min-width: 0;           
}

.card .post__content-description {
    font-size: 1.1rem;
    padding: 5px;
    background-color: #0003;
    border-radius: 5px;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word; 
    width: 100%;            
    min-width: 0;  
}

.card .post__content-img {
    margin-top: 5px;
    border: 2px solid rgb(179, 172, 172);
    max-width: 400px;
    max-height: 400px;
    border-radius: 5px
}

.card .post__interaction {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
}

.card .post__interaction-like {
    width: 30px;
    height: 30px;
}

.post__button-like {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
    padding: 5px;
    transition: background-color .5s ease;
}

.post__button-like:hover {
    background: #fff8;
}
.post__button-like:active {
    background: #fff;
}

/* -----------
--- CARROT ANIMATION ---
------------*/
.carrot-falling {
    width: 40px;
    height: 40px; 
    position: fixed; 
    top: 0; 
    animation: falling-carrots 10s ease infinite;
    z-index: 2;
}

.carrot-falling:hover {
    animation-play-state: paused;
}

/* -----------
--- KEYFRAMES ---
------------*/
@keyframes falling-carrots {
    0% { transform: translate(100px, -10vh); }
    100% { transform: translate(100px, 110vh); }
}

@keyframes modalAparecer {
    from {
        opacity: 0;
        transform: translateY(80px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes modalFade {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(80px);
    }
}

@keyframes aparicion {
    from {
        transform: translateY(15px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes desaparicion {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(15px);
    }
}

/* -----------
--- MEDIA QUERIES ---
------------*/

/* Desktop (min-width: 600px) */
@media screen and (min-width: 600px) {
    body:not(.modo-oscuro):has(.sidebar-nav:hover) main::after {
        opacity: 1;
    }
    
    .sidebar-nav {
        top: 0;
        bottom: 0;
        left: 0;
        flex-direction: column;
        width: 50px;
    }
    
    .sidebar-nav:hover {
        width: 210px;
    }
    
    .sidebar-nav .sidebar-nav__logo {
        display: grid;
        grid-template-columns: auto 1fr;
        width: 100%;
        gap: 20px;
        align-items: center;
        padding-bottom: 20px;
        border-bottom: 2px solid #7777;
    }

    .div-pfp {
        position: relative;
        left: -5px;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        overflow: hidden;
        border: solid 1px;
    }
    
    .pfp {
        width: 100%;
        transform: scale(1.1);
    }
    
    .sidebar-nav .sidebar-nav__logo h1 {
        font-size: 2rem;
    }
    
    .sidebar-nav .sidebar-nav__items {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }
    
    .sidebar-nav .sidebar-nav__item {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 20px;
        align-items: center;
        text-decoration: none;
        color: inherit;
    }

    .sidebar-nav__item:hover {
        background-color: #bbb;
    }

    .sidebar-nav .sidebar-nav__item-logo {
        width: 25px;
        height: 35px;
        opacity: 1;
        fill: none;
        stroke: #663399;
    }
    
    .sidebar-nav .sidebar-nav__text--hidden {
        opacity: 0;
        text-decoration: none;
        pointer-events: none;
        visibility: hidden;
        font-weight: bolder;
        font-size: 1.2rem;
        transition: opacity .4s ease-in, visibility .4s ease;
        white-space: nowrap;
    }
    
    .sidebar-nav:hover .sidebar-nav__text--hidden {
        opacity: 1;
        pointer-events: all;
        visibility: visible;
    }

    .sidebar-nav .sidebar-nav__text--title {
        font-size: 2rem;
    }

    main, footer {
        margin-left: 50px;
    }

    .draw-card {
        padding: 18px;
    }

    .draw-card .draw-card__uma-img {
        height: 300px;
    }
}

/* Tablet / Layout adjustment (max-width: 950px) */
@media screen and (max-width: 950px) {
    .draw-card--column {
        flex-direction: column;
    }

    .draw-card.draw-card--column {
        padding-bottom: 60px;
    }

    .draw-card.draw-card--column ~ .irl-button {
        right: 10px;
    }
}

/* Mobile (max-width: 599px) */
@media screen and (max-width: 599px) {
    .sidebar-nav {
        bottom: 0;
        left: 0;
        right: 0;
        height: 70px;
        width: 100%;
        padding: 5px;
        border-radius: 40px 40px 0 0;
    }

    .sidebar-nav .sidebar-nav__logo .sidebar-nav__text--hidden {
        display: none;
    }
    
    .sidebar-nav__logo {
        display: grid;
        place-items: center;
    }

    .div-pfp {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        overflow: hidden;
        border: solid 1px;
    }
    
    .pfp {
        width: 100%;
        transform: scale(1.1);
    }

    .theme-toggle {
        width: 60px;
        height: 55px;
    }
    
    .theme-toggle__button {
        width: 45px;
        height: 40px;
        inset: 0;
        margin: auto;
    }

    .sidebar-nav .sidebar-nav__items {
        display: flex;
        justify-content: space-around;
        width: 80%;
    }

    .sidebar-nav .sidebar-nav__item {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-decoration: none;
        color: var(--texto);
        gap: 3px;
        width: 25%;
    }

    .sidebar-nav .sidebar-nav__text--hidden {
        text-align: center;
    }

    .sidebar-nav__item:active {
        background-color: #bbb;
    }

    .sidebar-nav .sidebar-nav__item-logo {
        width: 25px;
        opacity: 1;
        fill: none;
        stroke: #663399;
    }

    .available-section {
        background-color: black;
        color: white;
        padding: 20px 20px 40px 20px;
    }

    .draw-card {
        font-size: 9.5px;
        padding: 15px;
        min-height: 250px;
        min-width: 325px;
    }

    .draw-card.draw-card--column p {
        font-size: 1.4em;
    }

    .draw-card.draw-card--column .draw-card__horse-img {
        padding: 5px;
    }

    .draw-card .draw-card__uma-img {
        height: 240px;
    }

    .draw-card:not(.draw-card--column) ~ .irl-button {
        width: 45px;
        height: 45px;
        bottom: 5px;
        right: 5px;
    }
    
    .irl-button__uma-icon {
        position: absolute;
        inset: 0;
        margin: auto;
        width: 50px;
        height: 50px;
        opacity: 0;
    }
    
    .irl-button__horse-icon {
        position: absolute;
        inset: 0;
        margin: auto;
        width: 30px;
        height: 30px;
    }

    .search-box__input {
        padding: 12px;
        font-size: 1.2rem;
    }
    
    .search-box__button {
        padding: 12px;
    }

    .card h2 {
        font-size: 2rem;
    }

    footer {
        padding-bottom: 100px;
    }
}

/* Small Mobile (max-width: 450px) */
@media screen and (max-width: 450px) {
    .draw-card {
        font-size: 9px;
        padding: 15px;
    }
    
    .draw-card .draw-card__uma-img {
        height: 180px;
    }

    .search-box__input {
        padding: 8px;
        font-size: 1.1rem;
    }
    
    .search-box__button {
        padding: 8px;
    }
}

/* Extra Small Mobile (max-width: 400px) */
@media screen and (max-width: 400px) {
    .draw-card {
        font-size: 9px;
        padding: 15px;
    }
    
    .draw-card .draw-card__uma-img {
        height: 170px;
    }

    .search-box__input {
        padding: 6px;
        font-size: 1rem;
    }
    
    .search-box__button {
        padding: 6px;
    }
}