* {
    font-family: monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --uma-color: #fff;
    --fondo: #fff;
    --texto: #000;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    opacity: 0.2;
    transition: opacity 1s ease-in;
}

body.modo-oscuro {
    --fondo: #000;
    --texto: #fff;
}

body.modo-oscuro main {
    filter: brightness(70%);
}

body {
    background-color: var(--fondo);
    color: var(--texto);
    transition: background-color .5s ease, color .5s ease;
    -webkit-tap-highlight-color: transparent;
}

main {
    transition: filter .6s ease
}
.text-center {
    text-align: center;
}

.margin-auto {
    margin: auto;
}

.nav-menu-lateral {
    position: fixed;
    background-color: var(--fondo);
    padding: 10px;
    display: flex;
    gap: 20px;
    transition: width .5s ease, background-color .3s ease;
    overflow: hidden;
    z-index: 1000;
}

.nav-item {
    padding: 3px 0 3px 3px;
    border-radius: 20px;
    transition: background-color .3s ease;
}

.section-1 {
    background: url(../media/img/bg.webp) center / cover;
    box-shadow: 0 0px 50px 6px var(--uma-color) inset;
    transition: box-shadow 2s ease;
    min-height: 100vh;
    margin: auto;
    display: grid;
    place-content: center;
    position: relative;
}

.flex-container--section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: auto;
    padding: 20px 0;
}

.flex-container--section-1 .dibujar {
    margin-top: 30px;
    box-shadow: 2px 2px 30px 0px #0006;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    overflow-y: hidden;
    transition: opacity .7s ease;
    min-height: 380px;
    max-height: fit-content;
    width: fit-content;
    backdrop-filter: blur(10px);
}

.flex-container--section-1 .dibujar p {
    font-size: 1.2em;
    line-height: 2;
}

.flex-container--section-1 .dibujar h2 {
    font-size: 2em;
}

.flex-container--section-1 .dibujar .tazuna-container {
    display: grid;
    place-items: center;
}

.flex-container--section-1 .dibujar h3 {
    font-size: 2em;
    padding-bottom: 10px;
}

.flex-container--section-1 .dibujar .img-uma {
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    filter: blur(5px);
    object-fit: contain;
    object-position: bottom;
}

.flex-container--section-1 .dibujar .img-uma-visible {
    opacity: 1;
    filter: contrast(110%);
    transform: translateY(5px);
}

.animacion-aparicion {
    animation: aparicion 1s ease-in-out;
}

@keyframes aparicion {
    from {
        transform: translateY(15px);
    }

    to {
        transform: translateY(0);
    }
}

.animacion-desaparicion {
    animation: desaparicion .4s ease forwards;
}
@keyframes desaparicion {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(10px);
    }

}
.buscador-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 20px;
}

.buscador {
    padding: 20px;
    border-radius: 8px;
    color: #a5a;
    font-weight: bolder;
    border: none;
    border-bottom: 1px solid black;
    font-size: 1.3rem;
}

.button {
    border-radius: 8px;
    padding: 20px;
    border: none;
    border-bottom: 1px solid black
}

.context-menu {
    position: absolute;
    display: flex;
    width: fit-content;
    padding: 2px;
    background-color: #7775;
    color: #000;
    flex-direction: column;
    cursor: pointer;
    border-radius: 20px;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

.context-menu-visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(10px);
    pointer-events: all;
}

.context-menu-animacion {
    transition: opacity .4s ease, transform 2s ease, visibility .4s ease;
}

.context-menu .opcion {
    font-size: 1.3rem;
    font-weight: bolder;
    border-radius: 10px;
    padding: 5px;
    transition: background-color .5s ease;
}

.context-menu .opcion:hover {
    background-color: white;
}

.container-modo-oscuro {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.button-dark-mode {
    font-size: .8em;
    border-radius: 20px;
    padding: 10px;
    background: white;
}

.p-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mini-imagen {
    width: 25px;
    object-fit: contain;
}

.section-2 {
    background-color: black;
    color: white;
    padding: 20px;
}

.section-2 h2 {
    font-size: 2rem;
    padding: 20px
}

.section-2 .umas-disponibles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    place-items: center;
    gap: 15px;
}

.section-2 .umas-disponibles p {
    text-decoration: none;
}

.section-2 .umas-disponibles a {
    font-size: 1.3rem;
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
    color: #ffffff;
    font-weight: bolder;
    transition: background-color .6s ease, transform .6s ease;
    display: inline-block;
}

.section-2 .umas-disponibles a:hover {
    background-color: #ffffff55;
    transform: scale(1.05);
}


/* MEDIA QUERIES */ 

/* DESKTOP */

/* Menu lateral Desktop*/ 

@media screen and (min-width: 600px) {
    .nav-menu-lateral {
        top: 0;
        bottom: 0;
        left: 0;
        flex-direction: column;
        width: 50px;
        }
    
        .nav-menu-lateral:hover {
        width: 200px;
        }
    
        .nav-menu-lateral .nav-logo {
        display: grid;
        grid-template-columns: auto 1fr;
        width: 100%;
        gap: 20px;
        align-items: center;
        padding-bottom: 20px;
        border-bottom: 2px solid #7777;
        }
        
        .nav-menu-lateral .nav-logo h2 {
        font-size: 2rem;
        }
        
        .nav-menu-lateral .nav-container-items {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        }
        
        .nav-menu-lateral .nav-item {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 20px;
        align-items: center;
        text-decoration: none;
        }

        
        .nav-item:hover {
        background-color: #bbb;
        }
    
        .nav-menu-lateral .nav-item-logo  {
        width: 25px;
        height: 25px;
        opacity: 1;
        fill: none;
        stroke: currentColor;
        }
        
        .nav-menu-lateral .item-hidden {
        opacity: 0;
        text-decoration: none;
        pointer-events: none;
        visibility: hidden;
        color: black;
        font-weight: bolder;
        font-size: 1.2rem;
        transition: opacity .4s ease-in, visibility .4s ease;
        white-space: nowrap;
        }
        
        .nav-menu-lateral:hover .item-hidden {
        opacity: 1;
        pointer-events: all;
        visibility: visible;
        }
    
        body:has(.nav-menu-lateral:hover) main {
        filter: brightness(70%);
        }
    
        .section-1, .section-2 {
        margin-left: 50px;
        }
}

@media screen and (min-width: 600px) {
    
    .flex-container--section-1 .dibujar {
        padding: 18px;
    }

    .flex-container--section-1 .dibujar .img-uma {
        height: 300px;
    }
    
}

/* MOBILE */

/* Menu lateral mobile */

@media screen and (max-width: 599px) {
    .nav-menu-lateral {
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    width: 100%;
    padding: 5px;
    }

    .nav-menu-lateral .nav-logo {
    display: none;
    }

    .nav-menu-lateral .nav-container-items {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    }

    .nav-menu-lateral .nav-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    color: black;
    gap: 3px;
    width: 25%;
    }

    .nav-menu-lateral .item-hidden {
        text-align: center;
    }

    .nav-item:active {
    background-color: #bbb;
    }

    .nav-menu-lateral .nav-item-logo {
    width: 25px;
    opacity: 1;
    fill: none;
    stroke: currentColor;
    }

    .nav-menu-lateral .hero {
    padding: 30px 60px;
    }

    .section-2 {
    background-color: black;
    color: white;
    padding: 20px 20px 100px 20px;
    }
}

@media screen and (max-width: 599px) {
    .flex-container--section-1 .dibujar {
        font-size: 9.5px;
        padding: 15px;
        min-height: 250px;
    }
    
    .flex-container--section-1 .dibujar .img-uma {
        height: 240px;
    }

    .buscador {
        padding: 12px;
        font-size: 1.2rem;
    }
    
    .button {
        padding: 12px;
    }
}

/* > 450 PX */

@media screen and (max-width: 450px) {
    .flex-container--section-1 .dibujar {
        font-size: 9px;
        padding: 15px;
    }
    
    .flex-container--section-1 .dibujar .img-uma {
        height: 180px;
    }

    .buscador {
        padding: 8px;
        font-size: 1.1rem;
    }
    
    .button {
        padding: 8px;
    }
}

/* > 400 PX */

@media screen and (max-width: 400px) {
    .flex-container--section-1 .dibujar {
        font-size: 9px;
        padding: 15px;
    }
    
    .flex-container--section-1 .dibujar .img-uma {
        height: 170px;
    }

    .buscador {
        padding: 6px;
        font-size: 1rem;
    }
    
    .button {
        padding: 6px;
    }
}
